<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">За съжаление няма нищо на този адрес.</p>
        </LayoutView>
    </NotFound>
</Router>

@inject QuizAuthStateProvider QuizAuthStateProvider

@code{
    override protected async Task OnInitializedAsync()
    {
        await QuizAuthStateProvider.InitializeAsync();
    }
}